@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Roboto&display=swap");

:root {
  --lightest: #eae2b7;
  --light: #fcbf49;
  --medium: #f77f00;
  --dark: #d62828;
  --darkest: #003049;
}

* {
  box-sizing: border-box;
}

.body {
  background-color: var(--lightest);
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.main {
  max-width: 750px;
  margin-top: 3rem;
}

.heading-decoration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  background-color: var(--medium);
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.socials {
  display: flex;
}

.toggle-switch {
  display: flex;
}

.switch {
  display: inline-block;
  background-color: var(--lightest);
  margin-right: 10px;
  width: 50px;
  height: 28px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.switch::before {
  position: absolute;
  content: "";
  background-color: var(--medium);
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin: 4px;
  transition: 0.2s;
}

input:checked + .switch {
  background-color: var(--darkest);
}

input:checked + .switch::before {
  transform: translateX(21px);
}

input {
  display: none;
}

.heading-section {
  display: flex;
  justify-content: space-between;
}

.intro-name {
  margin: 0;
}

.intro-headline {
  margin-top: 0;
}

.heading-photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center center;
  border: 3px solid var(--medium);
  border-radius: 1rem;
}

.body-one {
  margin-top: 2rem;
}

.projects-btn:hover {
  cursor: pointer;
  color: var(--lightest);
  background-color: var(--darkest);
}

.body-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.bio {
  min-width: 375px;
}

.bio-section {
  display: flex;
}

.bio-summary {
  margin-left: 1rem;
}

.extras {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social {
  margin-bottom: 16px;
  max-width: 100%;
}

.social-type {
  display: flex;
  align-items: center;
}

.divider {
  margin-left: 10px;
  cursor: default;
}

.icon {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.social-link {
  margin-top: 0;
  margin-left: 4px;
  text-decoration: none;
  color: black;
}

.social-link:hover {
  cursor: pointer;
  color: var(--dark);
}

@media (max-width: 770px) {
  .main {
    margin: 3rem 1rem 0 1rem;
  }

  .heading-section {
    flex-direction: column;
  }

  .body-two {
    flex-direction: column;
  }

  .bio {
    min-width: auto;
  }

  .extras {
    margin-left: 0;
  }
}
